*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
header{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  color: lime;
}
nav{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
button{
  margin: 0 5px;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li{
  width: calc((100% - 100px) / 4);
  text-align: center;
  padding: 10px 0;
  background-color: dodgerblue;
  margin: 5px;
}
img{
  height: 120px;
  width: auto;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}


.cont-ul{
  padding: 20px;
  width: 70%;
}
